.ipinfocard{
    position: absolute;
    background-color: white;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding:2rem;
    gap:3rem;
    hr{
        border: 1px ridge config.$dark-grey;
        border-left: none;
        border-top: none;
        border-bottom: none;
    }
    border-radius: 10px;
    li{
        line-height: 1.5rem;
        span{
            display: block;
        }
        .labeling{
            text-transform: uppercase;
            word-spacing: 3px;
            letter-spacing: 2px;
            color:config.$dark-grey;
            font-size: x-small;
        }
        .information{
            color:config.$very-dark-grey;
            font-weight: bold;
        }
    }
    bottom: -3.5rem;
}